footer.footer
  .footer__container
    .footer__wrapper
      .footer__top
        .footer__logo
          +link('index.html', 'Lecle Viet Nam')
            +img('images/logo.png', 'Lecle Viet Nam')
        .footer__link
          ul.footer__link-list
            li: +link('#', 'Who we are')
            li: +link('#', 'Media Centre')
            li: +link('#', 'Careers')
          ul.footer__link-list
            li: +link('#', 'Hire Our Venues')
            li: +link('#', 'Be Our Partner')
          ul.footer__link-list
            li: +link('#', 'FAQ')
            li: +link('#', 'Updates & Announcements')
            li: +link('#', 'Privacy Policy')
    small.footer__copyright © 2021 Lecle Viet Nam.
